.section {
  margin-bottom: var(--space-xs);
}

.content {
  overflow: hidden;
  transition: max-height ease-out, opacity ease-out;
  max-height: 1000px;
  opacity: 1;
  padding-left: var(--space-md);
}

.content.collapsed {
  max-height: 0;
  opacity: 0;
}
